<div class="jumbotron text-center">
        <h1>{{title}}</h1>
    <p>Chat with your student colleagues and only with student colleagues</p>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-4 frame" id="chatsContainer">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#contactsMenu">Contacts</a></li>
                    <li><a data-toggle="tab" href="#chatsMenu">Chats</a></li>
                </ul>
                <div class="tab-content">
                    <div id="contactsMenu" class="tab-pane fade in active">
                        <ul class="contacts cul" id="contacts"></ul>
                    </div>
                    <div id="chatsMenu" class="tab-pane fade">
                        <ul class="chats cul" id="chats"></ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 frame">
            <input type="hidden" id="tokenChat" value="">
            <p class="text" id="chatName"></p>
            <ul class="cul" id="msgs"></ul>
            <div id="sendMsgContainer">
                <div  class="msj-rta macro">                        
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input id="msgInput" placeholder="Type a message"/>
                    </div> 
                </div>
                <div id="sendCntrl" style="padding:10px;">
                    <span id="sendMedia" class="glyphicon glyphicon-film"></span>
                    <span id="sendMsg" class="glyphicon glyphicon-share-alt"></span>
                </div>                
            </div>
        </div>       
    </div>
</div>
<script src="/scripts/chat.js"></script>
